.parti{
	background-image: url('../img/pro1/partibg.webp');
	
	background-size: cover;
	background-repeat: no-repeat;
	height: 80vh;
}
.particuiler-s2 p{
	color: #000;
	font-size: 1.8rem;
	font-family: 'Montserrat', sans-serif;
}
.particulier-bg-img{
	background-image: url('../img/home/home3.webp');
	
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
}
.parti-text{
	padding-top: 5rem;
	font-family: 'Montserrat', sans-serif;
}
